* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /* creates smooth scroll on page links */
}
body {
  padding-bottom: 5vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

.main-header {
  background: linear-gradient(rgba(20, 18, 18, 0.698), rgba(0, 0, 0, 0.596)),
    url("./images/contents/hero.jpg") center no-repeat;
  background-size: cover;
  height: 95vmin;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 10vmin;
  margin-bottom: 10vmin;
}

/**********************************/
/*LOGO AND LINKS START*/
/**********************************/
.logo-and-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-nav {
  display: flex;
  font-size: 3vmin;
}
.header-nav li {
  list-style-type: none;
  padding: 0 2vmin;
}

.header-nav a {
  text-decoration: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  transition: transform 0.3s linear;
  text-shadow: 0.5rem 0.8rem 1rem black;
}

.header-nav a:hover {
  color: rgb(49, 75, 192);
  transform: scale(1.1);
}

.header-nav a::after {
  content: "";
  display: block;
  transform: translateY(-10px);
  border: 0px solid rgb(216, 172, 123);
  opacity: 0;
  transition: all 0.3s linear;
}

.header-nav a:hover::after {
  opacity: 1;
  border: 2px solid rgb(216, 172, 123);
  transform: translateY(0);
}

.logo {
  width: 15vmin;
  height: 15vmin;
}

/**********************************/
/*LOGO AND LINKS END*/
/**********************************/

/**********************************/
/*HEADER CONTENT START*/
/**********************************/

.header-content {
  width: 80%;
  margin: 0 auto;
}
.header-content h1 {
  transition: translateX(-50%);
  font-size: 6vmin;
  color: white;
  letter-spacing: 0.4vmin;
  text-transform: uppercase;
  font-weight: 200;
  padding: 1vmin 0;
}
.header-links {
  display: inline;
}

.header-content button {
  background: linear-gradient(to right, rgb(197, 141, 27), rgb(226, 194, 11));
  font-size: 2.5vmin;
  font-weight: 600;
  letter-spacing: 0.2vmin;
  border-radius: 5rem;
  padding: 1vmin 0.5vmin;
  border: 2px solid olive;
  transform: perspective(40rem) rotateY(30deg);
  transition: transform 0.2s linear;
  position: relative;
  overflow: hidden;
}

.header-links:not(:last-child) {
  margin-right: 5vmin;
}

.header-content button:hover {
  transform: rotateY(0);
}

button.hungry::before,
button.show-more::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.822),
    transparent
  );
  transform: perspective(40rem) rotateY(30deg);
  transition: left 1s;
}

button.hungry:hover::before,
button.show-more:hover::before {
  left: 100%;
}

/**********************************/
/*HEADER CONTENT END*/
/**********************************/

/**********************************/
/*MAIN SELF MARKETING START*/
/**********************************/
.main-self-marketing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4vmin;
}
.main-self-marketing-top h1 {
  text-transform: capitalize;
  letter-spacing: 0.3vmin;
  padding-bottom: 2vmin;
  border-bottom: 2px solid orange;
  color: rgb(194, 144, 50);
  box-shadow: 1rem 0.8rem 1rem rgba(0, 0, 0, 0.164);
}
.main-self-marketing-top p {
  width: 65%;
  text-align: justify;
  margin: 5vmin 0;
  letter-spacing: 0.1vmin;
}

.main-self-marketing-bottom {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-column-gap: 4vmin;
  font-size: 3vmin;
  text-align: justify;
  line-height: 5vmin;
}
div[class^="main-self-marketing-bottom-col"] {
  box-shadow: 1rem 0.8rem 1rem rgba(0, 0, 0, 0.164);
  padding: 2vmin;
}

.main-self-marketing-bottom img {
  width: 5vmin;
  height: 5vmin;
}
/**********************************/
/*MAIN SELF MARKETING END*/
/**********************************/

/**********************************/
/*MAIN IMAGES START*/
/**********************************/
.main-images {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, min-content);
  margin: 5vmin 0;
}

.main-images img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
  opacity: 0.7;
}

.main-images img:hover {
  transform: scale(1.02);
  opacity: 1;
}
.image-wrapper {
  overflow: hidden;
  background-color: black;
}

/**********************************/
/*MAIN IMAGES END*/
/**********************************/

/**********************************/
/*MAIN STEPS START*/
/**********************************/
.main-steps h1 {
  text-transform: capitalize;
  font-size: 6vmin;
  letter-spacing: 0.3vmin;
  padding-bottom: 2vmin;
  border-bottom: 2px solid orange;
  color: rgb(194, 144, 50);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vmin;
}

.main-steps-details {
  display: grid;
  grid-column-gap: 10vmin;
  grid-template-columns: repeat(2, 1fr);
}

.main-steps-details-left {
  justify-self: right;
}

.main-steps-details-left img {
  width: 40vmin;
}

.main-steps-details-left.isVisible {
  animation: moveUp 1s ease-in-out 0.5s backwards;
}

.main-steps-details-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.details-right-row {
  display: flex;
  align-items: center;
  font-size: 4vmin;
  width: 90%;
  padding-left: 5vmin;
}

.details-right-row img {
  width: 10vmin;
  margin-right: 1vmin;
}

.details-right-store-links {
  display: flex;
  align-items: center;
}
.apple {
  width: 26vmin;
}
.android {
  width: 34vmin;
}
/**********************************/
/*MAIN STEPS END*/
/**********************************/

/**********************************/
/*MAIN LOCATION START*/
/**********************************/
.main-locations.isVisible {
  animation: fadeIn 1s ease-in-out 0.5s backwards;
}

.main-locations h1 {
  text-transform: capitalize;
  font-size: 6vmin;
  letter-spacing: 0.3vmin;
  padding-bottom: 2vmin;
  border-bottom: 2px solid orange;
  color: rgb(194, 144, 50);
  width: fit-content;
  margin: 15vmin auto;
}

.main-locations-cities {
  display: grid;
  grid-column-gap: 3vmin;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
}
.main-location-city-details {
  display: flex;
  align-items: center;
  font-size: 3vmin;
  letter-spacing: 0.3vmin;
  line-height: 5vmin;
}

.main-location-city-details img {
  width: 5vmin;
  margin-right: 3vmin;
}
.main-location-city > img {
  width: 100%;
}
.main-location-city h2 {
  font-size: 3vmin;
  letter-spacing: 0.2vmin;
  padding: 3vmin 0;
}
/**********************************/
/*MAIN LOCATION END*/
/**********************************/

/**********************************/
/*MAIN CUSTOMERS FEEDBACK START*/
/**********************************/
.customers-comments-wrapper {
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.801),
      rgba(32, 23, 23, 0.616)
    ),
    url("./images/contents/back-customers.jpg") center no-repeat;
  background-size: cover;

  font-size: 3vmin;
  color: white;
  letter-spacing: 0.3vmin;
  line-height: 5vmin;
  text-align: justify;
  font-style: italic;
}

.customers-comments-wrapper h1 {
  text-transform: capitalize;
  font-size: 6vmin;
  letter-spacing: 0.3vmin;
  padding: 2vmin 0;
  border-bottom: 2px solid orange;
  color: rgb(194, 144, 50);
  width: fit-content;
  margin: 15vmin auto;
}

.customers-comments {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-column-gap: 8vmin;
  padding: 0 2vmin;
}

.customer-info {
  display: flex;
  align-items: center;
  margin-top: 2vmin;
}

.customer-info img {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  margin-right: 5vmin;
}
/**********************************/
/*MAIN CUSTOMERS FEEDBACK END*/
/**********************************/

/**********************************/
/*MAIN PAYMENT START*/
/**********************************/
.main-payment-wrapper {
  padding: 0 5vmin;
}
.main-payment-header {
  text-transform: capitalize;
  font-size: 6vmin;
  letter-spacing: 0.3vmin;
  padding: 2vmin 0;
  border-bottom: 2px solid orange;
  color: rgb(194, 144, 50);
  width: fit-content;
  margin: 15vmin auto;
}

.main-payment {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-column-gap: 10vmin;
  font-size: 3vmin;
}
.small {
  font-size: 3vmin;
}
.main-payment-service {
  padding: 2vmin;
  background-color: rgb(243, 236, 236);
}
.main-payment-service.isVisible:nth-child(1) {
  animation: scaleUp 1s linear 0.2s backwards;
}
.main-payment-service.isVisible:nth-child(2) {
  animation: scaleUp 1s linear 0.6s backwards;
}
.main-payment-service.isVisible:nth-child(3) {
  animation: scaleUp 1s linear 1s backwards;
}
.main-payment-service h1 {
  color: olive;
  letter-spacing: 0.2vmin;
  font-weight: 300;
}

.main-payment-service h2 {
  color: rgb(71, 71, 63);
  text-shadow: 0.6rem 0.4rem 0.7rem rgba(0, 0, 0, 0.329);
  letter-spacing: 0.2vmin;
  font-weight: 300;
}
.main-payment-service-check {
  display: flex;
  align-items: center;
  margin: 2vmin 0;
}
.main-payment-service-check img {
  width: 2vmin;
  height: 2vmin;
  margin-right: 2vmin;
}

.main-payment-service > p {
  padding: 2vmin 0;
  border-bottom: 1px solid black;
}

.main-payment-service-check-last {
  padding: 2vmin 0;
  border-bottom: 1px solid black;
}

.main-payment button {
  background: linear-gradient(to right, rgb(197, 141, 27), rgb(226, 194, 11));
  font-size: 2.5vmin;
  font-weight: 600;
  letter-spacing: 0.2vmin;
  border-radius: 5rem;
  padding: 1vmin 0.5vmin;
  border: 2px solid olive;
  cursor: pointer;
  transition: transform 0.3s linear;
}
.main-payment button:hover {
  transform: scale(1.1);
}

/**********************************/
/*MAIN PAYMENT END*/
/**********************************/

/**********************************/
/*MAIN FORM START*/
/**********************************/
.main-message-wrapper {
  background-color: rgba(223, 212, 212, 0.15);
}
.main-message-wrapper h1 {
  text-transform: capitalize;
  font-size: 6vmin;
  letter-spacing: 0.3vmin;
  padding: 2vmin 0;
  border-bottom: 2px solid orange;
  color: rgb(194, 144, 50);
  width: fit-content;
  margin: 15vmin auto;
}

.form {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-column-gap: 5vmin;
  align-items: center;
  width: 85vmin;
  padding: 3vmin;
  margin: 0 auto;
  border-radius: 1rem;
  grid-row-gap: 3vmin;
  font-size: 3vmin;
  box-shadow: 0.8rem 0.6rem 1rem rgba(0, 0, 0, 0.096);
}

.form label {
  justify-self: end;
}

.form input,
.form select,
.form textarea {
  justify-self: start;
  width: 40vmin;
  outline: none;
  font-size: 2.5vmin;
  background-color: rgba(219, 210, 210, 0.226);
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  width: 40vmin;
  justify-content: flex-start;
}

.checkbox-wrapper input {
  width: 2rem;
}

.form button {
  grid-column: 1/-1;
  justify-self: center;
  width: 30vmin;
  background: linear-gradient(to right, rgb(197, 141, 27), rgb(226, 194, 11));
  font-size: 2.5vmin;
  font-weight: 600;
  letter-spacing: 0.2vmin;
  border-radius: 5rem;
  padding: 1vmin 0.5vmin;
  border: 2px solid olive;
}

/**********************************/
/*MAIN FORM END*/
/**********************************/

/**********************************/
/*FOOTER START*/
/**********************************/
.footer {
  background-color: rgba(128, 128, 128, 0.87);
  padding: 8vmin 0;
  margin-top: 5vmin;
}
.details-and-contact {
  margin-bottom: 5vmin;
  padding: 0 5vmin;
}

.details-and-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-left nav {
  display: flex;
  align-items: center;
  font-size: 3vmin;
}
.details-left li {
  list-style-type: none;
}

.details-left a {
  text-decoration: none;
  color: rgb(87, 87, 200);
}
.details-left a:hover {
  color: blue;
}
.details-left li:not(:last-child) {
  margin-right: 5vmin;
}

.details-right img {
  width: 3vmin;
  height: 3vmin;
}

.details-right a:not(:last-child) {
  margin-right: 5vmin;
}
.copyright {
  text-align: center;
  font-size: 3vmin;
}
/**********************************/
/*FOOTER END*/
/**********************************/

/**********************************/
/*ANIMATION START*/
/**********************************/

@keyframes moveUp {
  0% {
    transform: translateY(30rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
/**********************************/
/*ANIMATION END*/
/**********************************/

/**********************************/
/*RESPONSIVE START*/
/**********************************/

@media (max-width: 1200px) {
  .customers-comments {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-column-gap: 8vmin;
  }
  .comment-3 {
    grid-column: 1/-1;
    justify-self: center;
    width: 60%;
  }
}
@media (max-width: 1090px) {
  .main-locations-cities {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-row-gap: 3vmin;
  }
}

@media (max-width: 1035px) {
  .main-self-marketing-top {
    font-size: 3.5vmin;
  }

  .main-self-marketing-bottom {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }
  .main-payment {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-column-gap: 10vmin;
    grid-row-gap: 5vmin;
    font-size: 3vmin;
  }
}

@media (max-width: 770px) {
  .main-self-marketing-top {
    font-size: 3vmin;
  }
  .main-self-marketing-bottom {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
  }
  .details-and-contact {
    display: flex;
    flex-direction: column;
  }
  .details-left nav {
    margin-bottom: 5vmin;
  }

  .main-steps-details {
    display: grid;
    grid-column-gap: 10vmin;
    grid-template-columns: repeat(1, 1fr);
  }

  .main-steps-details-left {
    justify-self: center;
  }

  .main-steps-details-left img {
    width: 30vmin;
  }

  .main-steps-details-right {
    flex-direction: column;
  }

  .details-right-row {
    margin-bottom: 2vmin;
  }
  .details-right-store-links {
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .main-locations-cities {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
    grid-row-gap: 3vmin;
  }
  .customers-comments {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
    grid-row-gap: 5vmin;
  }
  .comment-3 {
    width: 100%;
  }
  .main-payment {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
    grid-row-gap: 5vmin;
  }
}
/**********************************/
/*RESPONSIVE END*/
/**********************************/
